<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDo-List</title>
    <link rel="stylesheet" th:href="@{/Layout.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div class="center" id="rcorners">
    <table align="center">
        <tr>
            <th>ToDo</th>
            <th>Erstelldatum</th>
            <th></th>
        </tr>
        <!-- for each ToDo in the toDoList of our model create an entry -->
        <tr th:each="ToDo : ${ToDoList.toDoList}">
            <!-- insert the content string of the current todo -->
            <td th:text="${ToDo.content}"></td>
            <!-- insert the creation date of the current todo -->
            <td th:text="${#dates.format(ToDo.creationDate, 'dd MMM yyyy')}"></td>
            <!-- if the status of the current todo is true display "Erledigt"-->
            <td th:if="${ToDo.status}">Erledigt</td>
            <!-- insert the status of the current todo is false display a delete Button -->
            <td th:unless="${ToDo.status}">
                <!-- create a delete post and set the id of the todo object that we pass to the id of the todo that should be deleted -->
                <form method="post" th:action="@{/deleteToDo}" th:object="${todo}">
                    <input th:type="hidden" name="id" th:value="${ToDo.id}"/>
                    <button type="submit" class="btn btn-primary">
                        <i class="material-icons">clear</i>
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>
<div class="center">
    <div align="center">
        <!-- creates a post to /addToDo and passes a todo object whos content is filled with the content for the new todo -->
        <form style="width:600px" action="#" th:action="@{/addToDo}" th:object="${todo}" method="post">
        <div class="input-group mb-3">
                <input style="width:400px" type="text" class="form-control" placeholder="ToDo" th:field="*{content}" aria-label="ToDo content" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary" id="button-addon2">Hinzufügen</button>
                </div>
        </div>
        </form>
    </div>
</div>

</body>
</html>